In [1]:
! pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/37/98/244399c0daa7894cdf387e7007d5e8b3710a79b67f3fd991c0b0b644822d/pyspark-2.4.3.tar.gz (215.6MB)
     |████████████████████████████████| 215.6MB 78kB/s
Collecting py4j==0.10.7 (from pyspark)
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 38.8MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done
  Created wheel for pyspark: filename=pyspark-2.4.3-py2.py3-none-any.whl size=215965824 sha256=d004e216e1550b50d00a3aef8a5e06c94b8a680cb1bb1dffd5cef96ba2140f0b
  Stored in directory: /tmp/.cache/pip/wheels/8d/20/f0/b30e2024226dc112e256930dd2cd4f06d00ab053c86278dcf3
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.3
WARNING: You are using pip version 19.2.1, however version 19.2.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/gender_submission.csv
/kaggle/input/test.csv
/kaggle/input/train.csv

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
spark

In [4]:
sdf_train = spark.read.csv("../input/train.csv",inferSchema=True,header=True)
print(sdf_train.printSchema())
pdf = sdf_train.limit(10).toPandas()
pdf.T

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

None

,0,1,2,3,4,5,6,7,8,9
PassengerId,1,2,3,4,5,6,7,8,9,10
Survived,0,1,1,1,0,0,0,0,1,1
Pclass,3,1,3,1,3,3,1,3,3,2
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry","Moran, Mr. James","McCarthy, Mr. Timothy J","Palsson, Master. Gosta Leonard","Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)","Nasser, Mrs. Nicholas (Adele Achem)"
Sex,male,female,female,female,male,male,male,male,female,female
Age,22,38,26,35,35,NaN,54,2,27,14
SibSp,1,1,0,1,0,0,0,3,0,1
Parch,0,0,0,0,0,0,0,1,2,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450,330877,17463,349909,347742,237736
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708
Cabin,None,C85,None,C123,None,None,E46,None,None,None
Embarked,S,C,S,S,S,Q,S,S,S,C

In [5]:
sdf_test = spark.read.csv("../input/test.csv",inferSchema=True,header=True)
# sdf_train.printSchema()
pdf = sdf_test.limit(10).toPandas()

pdf.T

,0,1,2,3,4,5,6,7,8,9
PassengerId,892,893,894,895,896,897,898,899,900,901
Pclass,3,3,2,3,3,3,3,2,3,3
Name,"Kelly, Mr. James","Wilkes, Mrs. James (Ellen Needs)","Myles, Mr. Thomas Francis","Wirz, Mr. Albert","Hirvonen, Mrs. Alexander (Helga E Lindqvist)","Svensson, Mr. Johan Cervin","Connolly, Miss. Kate","Caldwell, Mr. Albert Francis","Abrahim, Mrs. Joseph (Sophie Halaut Easu)","Davies, Mr. John Samuel"
Sex,male,female,male,male,female,male,female,male,female,male
Age,34.5,47,62,27,22,14,30,26,18,21
SibSp,0,1,0,0,1,0,0,1,0,2
Parch,0,0,0,0,1,0,0,1,0,0
Ticket,330911,363272,240276,315154,3101298,7538,330972,248738,2657,A/4 48871
Fare,7.8292,7,9.6875,8.6625,12.2875,9.225,7.6292,29,7.2292,24.15
Cabin,None,None,None,None,None,None,None,None,None,None
Embarked,Q,S,Q,S,S,S,Q,S,C,S

In [6]:
numeric_cols = ['PassengerId','Survived', 'Pclass','Age', 'SibSp','Parch','Ticket','Fare'] 
numeric_features = ['Pclass','Age', 'SibSp','Parch','Fare']

In [7]:
from pyspark.sql import DataFrame 
from pyspark.sql import functions as F
from pyspark.ml.feature import Imputer

# default is mean
def _claenup(sdf: DataFrame,colList: list):
    imputer = Imputer(inputCols = colList,
                     outputCols = colList)
    sdf = imputer.fit(sdf).transform(sdf)
    return sdf

sdf_train_cleaned = _claenup(sdf_train,['Fare','Age'])
sdf_train_cleaned.limit(5).toPandas().T

,0,1,2,3,4
PassengerId,1,2,3,4,5
Survived,0,1,1,1,0
Pclass,3,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry"
Sex,male,female,female,female,male
Age,22,38,26,35,35
SibSp,1,1,0,1,0
Parch,0,0,0,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450
Fare,7.25,71.2833,7.925,53.1,8.05
Cabin,None,C85,None,C123,None
Embarked,S,C,S,S,S

In [8]:
# sdf_train_subset.select(numeric_features).printSchema() #.toPandas().T

In [9]:
_stages = []

In [10]:
# from pyspark.sql import functions as F
# sdf_train_cleaned.groupBy("Sex").agg(F.count(sdf_train_cleaned["Sex"])).show()
# sdf_train_cleaned.groupBy("Embarked").agg(F.count(sdf_train_cleaned["Embarked"])).show()

In [11]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoderEstimator

string_features = [ 'Embarked', 'Sex'] # 'Cabin', 

def _strIndexer(_stages):
    strIndexer = [StringIndexer(inputCol=column, outputCol=column+"_Index", handleInvalid = "skip") for column in string_features ] #.fit(sdf_train_subset)
    _stages += strIndexer

In [12]:
def _oneHotEnc(_stages):
    oneHotEnc = [OneHotEncoderEstimator(inputCols= [column +"_Index"  for column in string_features]  , outputCols= [column+"_Enc" for column in string_features] )]
    _stages += oneHotEnc

In [13]:
from pyspark.ml.feature import VectorAssembler
# assemblerInput.clear()
def _vectAssembler(_stages):
    assemblerInput =  [f  for f in numeric_features]  
    assemblerInput += [f + "_Enc" for f in string_features]
    print(assemblerInput) 
    # assemblerInput.append("sexIndex")
    vectAssembler = VectorAssembler(inputCols  = assemblerInput, outputCol = "vect_features") #.fit(sdf_train_subset)  
    _stages += [vectAssembler]

In [14]:
from pyspark.ml.feature import PCA
# help(PCA)
def _pac(_stages):
    pca = PCA(inputCol = "vect_features", outputCol = "pca_features",k = 5)
    _stages += [pca]

In [15]:
from pyspark.ml.classification import RandomForestClassifier
# help(RandomForestClassifier)
def _rf(_stages):
    rf = RandomForestClassifier(labelCol = 'Survived', featuresCol = 'pca_features', numTrees = 100, maxDepth = 4, maxBins = 1000)
    _stages += [rf]

In [16]:
# _stages += [oneHotEnc, vectAssembler,rf]
_stages = []
_strIndexer(_stages)
_oneHotEnc(_stages)
_vectAssembler(_stages)
_pac(_stages)
_rf(_stages)
_stages

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_Enc', 'Sex_Enc']

[StringIndexer_56a16de9fdd2,
 StringIndexer_4e1c67b47f28,
 OneHotEncoderEstimator_d170bff8037e,
 VectorAssembler_05c997e263f2,
 PCA_f55265094d83,
 RandomForestClassifier_1d5410e0b197]

In [17]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages = _stages)

In [18]:
model = pipeline.fit(sdf_train_cleaned)

In [19]:
numeric_cols_test = ['PassengerId', 'Pclass','Age', 'SibSp','Parch','Ticket','Fare', 'Sex'] 

sdf_test_subset = sdf_test.withColumn('Ticket', sdf_test['Ticket'].cast("double"))

sdf_test_subset = _claenup(sdf_test_subset,['Fare','Age'])

In [20]:
sdf_predict = model.transform(sdf_test_subset)

In [21]:
sdf_predict.toPandas().T

,0,1,2,3,4,5,6,7,8,9,...,408,409,410,411,412,413,414,415,416,417
PassengerId,892,893,894,895,896,897,898,899,900,901,...,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309
Pclass,3,3,2,3,3,3,3,2,3,3,...,3,3,3,1,3,3,1,3,3,3
Name,"Kelly, Mr. James","Wilkes, Mrs. James (Ellen Needs)","Myles, Mr. Thomas Francis","Wirz, Mr. Albert","Hirvonen, Mrs. Alexander (Helga E Lindqvist)","Svensson, Mr. Johan Cervin","Connolly, Miss. Kate","Caldwell, Mr. Albert Francis","Abrahim, Mrs. Joseph (Sophie Halaut Easu)","Davies, Mr. John Samuel",...,"Riordan, Miss. Johanna Hannah""""""""","Peacock, Miss. Treasteall","Naughton, Miss. Hannah","Minahan, Mrs. William Edward (Lillian E Thorpe)","Henriksson, Miss. Jenny Lovisa","Spector, Mr. Woolf","Oliva y Ocana, Dona. Fermina","Saether, Mr. Simon Sivertsen","Ware, Mr. Frederick","Peter, Master. Michael J"
Sex,male,female,male,male,female,male,female,male,female,male,...,female,female,female,female,female,male,female,male,male,male
Age,34.5,47,62,27,22,14,30,26,18,21,...,30.2726,3,30.2726,37,28,30.2726,39,38.5,30.2726,30.2726
SibSp,0,1,0,0,1,0,0,1,0,2,...,0,1,0,1,0,0,0,0,0,1
Parch,0,0,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
Ticket,330911,363272,240276,315154,3.1013e+06,7538,330972,248738,2657,NaN,...,334915,NaN,365237,19928,347086,NaN,NaN,NaN,359309,2668
Fare,7.8292,7,9.6875,8.6625,12.2875,9.225,7.6292,29,7.2292,24.15,...,7.7208,13.775,7.75,90,7.775,8.05,108.9,7.25,8.05,22.3583
Cabin,None,None,None,None,None,None,None,None,None,None,...,None,None,None,C78,None,None,C105,None,None,None
Embarked,Q,S,Q,S,S,S,Q,S,C,S,...,Q,S,Q,Q,S,S,C,S,S,C
Embarked_Index,2,0,2,0,0,0,2,0,1,0,...,2,0,2,2,0,0,1,0,0,1
Sex_Index,0,1,0,0,1,0,1,0,1,0,...,1,1,1,1,1,0,1,0,0,0
Embarked_Enc,"(0.0, 0.0)","(1.0, 0.0)","(0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0)","(1.0, 0.0)","(0.0, 0.0)","(1.0, 0.0)","(0.0, 1.0)","(1.0, 0.0)",...,"(0.0, 0.0)","(1.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(1.0, 0.0)","(1.0, 0.0)","(0.0, 1.0)","(1.0, 0.0)","(1.0, 0.0)","(0.0, 1.0)"
Sex_Enc,(1.0),(0.0),(1.0),(1.0),(0.0),(1.0),(0.0),(1.0),(0.0),(1.0),...,(0.0),(0.0),(0.0),(0.0),(0.0),(1.0),(0.0),(1.0),(1.0),(1.0)
vect_features,"(3.0, 34.5, 0.0, 0.0, 7.8292, 0.0, 0.0, 1.0)","[3.0, 47.0, 1.0, 0.0, 7.0, 1.0, 0.0, 0.0]","(2.0, 62.0, 0.0, 0.0, 9.6875, 0.0, 0.0, 1.0)","[3.0, 27.0, 0.0, 0.0, 8.6625, 1.0, 0.0, 1.0]","[3.0, 22.0, 1.0, 1.0, 12.2875, 1.0, 0.0, 0.0]","[3.0, 14.0, 0.0, 0.0, 9.225, 1.0, 0.0, 1.0]","(3.0, 30.0, 0.0, 0.0, 7.6292, 0.0, 0.0, 0.0)","[2.0, 26.0, 1.0, 1.0, 29.0, 1.0, 0.0, 1.0]","(3.0, 18.0, 0.0, 0.0, 7.2292, 0.0, 1.0, 0.0)","[3.0, 21.0, 2.0, 0.0, 24.15, 1.0, 0.0, 1.0]",...,"(3.0, 30.272590361445783, 0.0, 0.0, 7.7208, 0....","[3.0, 3.0, 1.0, 1.0, 13.775, 1.0, 0.0, 0.0]","(3.0, 30.272590361445783, 0.0, 0.0, 7.75, 0.0,...","(1.0, 37.0, 1.0, 0.0, 90.0, 0.0, 0.0, 0.0)","(3.0, 28.0, 0.0, 0.0, 7.775, 1.0, 0.0, 0.0)","[3.0, 30.272590361445783, 0.0, 0.0, 8.05, 1.0,...","(1.0, 39.0, 0.0, 0.0, 108.9, 0.0, 1.0, 0.0)","[3.0, 38.5, 0.0, 0.0, 7.25, 1.0, 0.0, 1.0]","[3.0, 30.272590361445783, 0.0, 0.0, 8.05, 1.0,...","[3.0, 30.272590361445783, 1.0, 1.0, 22.3583, 0..."
pca_features,"[8.652114889665835, -34.22872125739219, 1.2175...","[8.136868796865183, -46.71393717643015, 2.5609...","[11.200664834021964, -61.678976562312336, 1.82...","[9.29771851382238, -26.713707392712404, 1.0702...","[12.806213138435806, -21.58976506869481, 2.282...","[9.537755338957606, -13.709947343718515, 0.720...","[8.342360376776913, -29.733250579334616, 1.149...","[29.619245010787772, -25.193761900664388, 2.14...","[7.647173448767919, -17.75285204646505, 0.7774...","[24.637873180748276, -20.291288404866037, 2.64...",...,"[8.440683973010007, -30.00335365018903, 1.1564...","[13.822176458364602, -2.567755571920569, 1.768...","[8.469873249964914, -30.002628941542362, 1.156...","[90.87844367882273, -34.69794967190039, 1.6515...","[8.437055804616397, -27.73098402767484, 1.1521...","[8.766567584840006, -29.998931406944507, 1.160...","[109.81967687616421, -36.24893629144121, 0.679...","[8.170810377197416, -38.239740395658856, 1.383...","[8.766567584840006, -29.998931406944507, 1.160...","[23.080268361362766, -29.61035998952797, 2.302..."
rawPrediction,"[87.95165202830951, 12.048347971690534]","[87.78178093614221, 12.218219063857829]","[73.16480566098778, 26.83519433901225]","[88.14093959009519, 11.859060409904865]","[52.49884243118947, 47.50115756881052]","[73.45563776921799, 26.54436223078204]","[63.51168461577128, 36.48831538422871]","[45.36187894421558, 54.638121055784424]","[40.850305134397765, 59.14969486560225]","[75.27176336440877, 24.72823663559125]",...,"[63.51168461577128, 36.48831538422871]","[38.623747742621255, 61.376252257378766]","[63.51168461577128, 36.48831538422871]","[25.722243985417084, 74.2777560145829]","[41.90854854955669, 58.09145145044332]","[86.34311136128963, 13.656888638710418]","[34.41660174704487, 65.58339825295512]","[86.43278781204066, 13.567212187959354]","[86.34311136128963, 13.656888638710418]","[69.79344597433014, 30.206554025669856]"
probability,"[0.8795165202830947, 0.12048347971690529]","[0.8778178093614217, 0.12218219063857824]","[0.7316480566098776, 0.2683519433901224]","[0.8814093959009514, 0.11859060409904858]","[0.5249884243118947, 0.4750115756881052]","[0.7345563776921796, 0.2654436223078203]","[0.6351168461577128, 0.36488315384228714]","[0.45361878944215583, 0.5463812105578443]","[0.4085030513439776, 0.5914969486560224]","[0.7527176336440875, 0.24728236635591244]",...,"[0.6351168461577128, 0.36488315384228714]","[0.38623747742621245, 0.6137625225737875]","[0.6351168461577128, 0.36488315384228714]","[0.25722243985417087, 0.7427775601458292]","[0.41908548549556685, 0.5809145145044331]","[0.8634311136128959, 0.13656888638710413]","[0.3441660174704487, 0.6558339825295512]","[0.8643278781204065, 0.13567212187959352]","[0.8634311136128959, 0.13656888638710413]","[0.6979344597433014, 0.3020655402566986]"
prediction,0,0,0,0,0,0,0,1,1,0,...,0,1,0,1,1,0,1,0,0,0

In [22]:
# from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator 

# sdf_train_sample = sdf_train_cleaned.sample(False,0.1).cache()
# # sdf_test_sample.count()
# pca_model = PCA(inputCol = "vect_features", outputCol = "pca_features",k = 5)
# cv_rf = RandomForestClassifier(labelCol = "Survived", featuresCol = "pca_features")
# cv_pipeline = Pipeline(stages = [pca_model,rf])

# param_grid = ParamGridBuilder().addGrid(pca_model.k, [10, 20, 30, 40, 50])\
#                                 .addGrid(cv_rf.numTrees, [20, 30, 50])\
#                                 .build()
# cross_val = CrossValidator(estimator = cv_pipeline,
#                           estimatorParamMaps = param_grid,
#                           evaluator = BinaryClassificationEvaluator(labelCol= 'STP_UP_IND',
#                                                                    rawPredictionCol = 'probability',
#                                                                    metricName = 'areaUnderROC'),
#                           numFolds = 3)
# cv_model = cross_val.fit(sdf_test_sample)

# cv_prediction = cv_model.transform(sdf_test_subset)

# evaluator= BinaryClassificationEvaluator(labelCol = "STP_UP_IND", rawPredictionCol="probability", metricName= "areaUnderROC")
# accuracy = evaluator.evaluate(predictions)
# accuracy
# # eval = BinaryClassificationEvaluator()
evaluator = BinaryClassificationEvaluator(labelCol = 'prediction')
evaluator.evaluate(sdf_predict)

1.0

In [23]:
sdf_submission = sdf_predict.select('PassengerId','prediction').withColumn('Survived',sdf_predict['prediction'].cast('integer')).select('PassengerId','Survived')
sdf_submission.toPandas().T

,0,1,2,3,4,5,6,7,8,9,...,408,409,410,411,412,413,414,415,416,417
PassengerId,892,893,894,895,896,897,898,899,900,901,...,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309
Survived,0,0,0,0,0,0,0,1,1,0,...,0,1,0,1,1,0,1,0,0,0

In [24]:
sdf_submission.coalesce(1).write.csv("submission",mode="overwrite",header=True)

In [25]:
print(os.listdir('submission'))

['part-00000-744c414b-c990-4d00-bdd1-61cd130d92d3-c000.csv', '.part-00000-744c414b-c990-4d00-bdd1-61cd130d92d3-c000.csv.crc', '_SUCCESS', '._SUCCESS.crc']

<a href="submission/part-00000-6bf2b4f5-566e-474a-adc4-7981ac0609ea-c000.csv">Download Submission</a>

### Please note this is a INPROGRESS notebook!